<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block head %}
        <meta charset="UTF-8">
        <title>Base</title>
        {% endblock %}
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid ">

                <div class="navbar-header">
                  <a class="navbar-brand" href="#">SocialMedia Blog</a>
                </div>

                <div class="navbar-nav mr-auto">

                    {% if user.is_authenticated %}

                    <ul class="nav navbar-nav">
                        <li><a class="nav-item nav-link" href="{% url 'home' %}">Home</a></li>
                        <li><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                        <li><a class="nav-item nav-link" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                        <li><a class="nav-item nav-link" href="{% url 'password' %}">Change Password</a></li>

                    </ul>

                    {% else %}

                    <ul class="nav navbar-nav">
                        <li><a class="nav-item nav-link" href="{% url 'reset_password' %}">Reset Password</a></li>
                    </ul>

                    {% endif %}

                </div>

                <div class="nav navbar-right">

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a href="{% url 'logout' %}" id="logout" role="button" aria-haspopup="true">
                          Logout
                        </a>
                    </li>

                    {% else %}

                    <li class="nav-item">
                        <a href="{% url 'login' %}" id="login" role="button" aria-haspopup="true">
                          Login
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;
                    <li class="nav-item">
                        <a href="{% url 'register' %}" id="register" role="button" aria-haspopup="true">
                          Register
                        </a>
                    </li>

                    {% endif %}

                </div>
            </div>
        </nav>
    </div>




        {% block body %}
        <h1>Base</h1>
        {% endblock %}
    </body>
</html>